@tailwind base;
@tailwind components;
@tailwind utilities;

@import "aos/dist/aos.css";

@layer components {
  .center {
    @apply flex items-center justify-center text-center;
  }
  .d-center {
    @apply block mx-auto;
  }
  .heading {
    @apply text-primary text-3xl md:text-4xl 2xl:text-[45px] leading-[50px] 2xl:leading-[68px];
  }
  .btnFilled {
    @apply border border-primary bg-primary text-white px-4 py-1 md:py-2  rounded md:rounded-xl hover:bg-primary/95 transition-all;
  }
  .btnOutlined {
    @apply text-primary px-4 py-1 md:py-2  rounded md:rounded-xl border border-primary hover:bg-primary hover:border-primary hover:text-white transition-all;
  }
  .btnNoDesign {
    @apply text-white/80 px-4 py-1 md:py-2 hover:text-white  transition-all;
  }
  .input-box {
    @apply w-[100%] rounded-lg outline-none py-2 md:py-3 2xl:py-4 bg-grey pl-10 border border-dark-grey/50 placeholder:text-dark-grey placeholder:font-light;
  }

  input:disabled,
  input:disabled ~ .input-icon {
    @apply opacity-50;
  }

  .input-icon {
    @apply absolute left-4 top-1/2 -translate-y-1/2 text-dark-grey md:text-lg;
  }
}

body {
  @apply bg-grey text-black overflow-x-hidden;
}

html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #e5e5e5cd;
  box-shadow: inset 0 0 3px #cccccc;
  border-radius: 4px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #bdbdbddd;
  border-radius: 5px;
  cursor: grabbing;
}
::-webkit-scrollbar-thumb:hover {
  background: #bdbdbd;
}

@media only screen and (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
}

/* this is antd design ovverright custom code for large screen device  */
.ant-select {
  height: 55px !important;
  display: block !important;
}

.ant-select-selection {
  border-radius: 8px !important;
  outline: none !important;
}

.ant-select-selector {
  background-color: transparent !important;
  border-color: rgb(144 144 161 / 0.5) !important;
}

.ant-select-focused .ant-select-selector {
  border-color: none !important;
  box-shadow: none !important;
}

.ant-select-arrow {
  color: #475569 !important;
}

.ant-select .ant-select-selection-item,
.ant-select .ant-select-selection-placeholder {
  flex: none !important;
}
